# yamllint disable rule:truthy
# yamllint disable rule:line-length
---
name: Update Citation
on:
  release:
    types: [published]
  workflow_dispatch:
jobs:
  update-citation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.target_commitish || github.ref }}

      - name: Install python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies needed for update_citation.py
        run: |
          pip install requests PyYAML

      - name: Update CITATION.cff and README.rst
        run: |
          python .github/scripts/update_citation.py

      - name: Commit and Push CITATION.cff Update
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git diff --exit-code || (
            git add CITATION.cff README.rst &&
            git commit -m "Update CITATION.cff with latest release date" &&
            git push origin HEAD:${{ github.event.release.target_commitish || github.ref_name }}
          )
